body {
  background-color: #f1ececc9;
   font-family: 'Inter';

}

.navbar-custom {
  border-bottom: 1px solid #d9d9d9;
  /* font-family: inherit; */
}

h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0%;
  color: #10052F;
}

h2 {
  color: #10052F;
  font-weight: 600;
  font-size: 30px;
  line-height: 28px;
}

h4 {
  color: #10052F;
  font-weight: 600;
  font-size: 26px;
  line-height: 28px;
}

h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #10052F;
}

textarea {
  width: 410;
  height: 79;
  padding-top: 10px;
  padding-right: 14px;
  padding-bottom: 10px;
  padding-left: 14px;
  gap: 8px;
  opacity: 1;
  border-radius: 8px;
  border-width: 1px;
  /* color: #F6F6F6; */
  border: 1px solid #D0D5DD;
  background: #F6F6F6;
}

.text {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #10052F;
}

.title {
  color: #10052F;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.p-success {
  font-weight: 700;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #46B277;
}

.pargp {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #10052F;
}

label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #10052F;
}

.form-control {
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px 0px #1018280D;
  background: #FFFFFF;
  border-radius: 8px;
  border-width: 1px;
  opacity: 1;
  gap: 8px;
  padding-top: 10px;
  padding-right: 14px;
  padding-bottom: 10px;
  padding-left: 14px;
  /* color: #667085; */
  color: #101828;

}

.form-control:focus {
  border-color: #00A150;
}

textarea {
  resize: none;
  min-width: 410px;
  height: 79px;
  border-radius: 8px;
  padding-top: 10px;
  padding-right: 14px;
  padding-bottom: 10px;
  padding-left: 14px;
  border-width: 1px;
  border: 1px solid #D0D5DD;
  color: #667085;
}

input.form-control {
  /* width: 400px;  */
  height: 44px;
}

textarea.form-control:focus {
  border-color: #00a150;
  /* box-shadow: none !important; */
}

.copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
}

.invalid-text {
  margin-top: 5px;
  color: #ff4837;
  font-size: small;
  width: 370;
  height: 36;
  border-radius: 5px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  background: #F7D7DB;
  color: #57171D;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0%;
}

.form-check-input:checked {
  background-color: #00A150;
  border: #00A150;
  box-shadow: none;
}

.btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding-top: 10px;
  padding-right: 18px;
  padding-bottom: 10px;
  padding-left: 18px;
  height: 44px;
}

.btn-success {
  background: #00A150;
  box-shadow: 0px 1px 2px 0px #1018280D;
  border: 1px solid #00A150;
  color: white;
  border-radius: 15px;
  border-width: 1px;
  min-width: 100px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

/* .btn:focus {
  box-shadow: none;
} */
.btn:focus,
.btn:active,
.btn:focus:active {
  outline: none;
  box-shadow: none;
}

.btn-danger {
  border-radius: 15px;
  gap: 8px;
  border-width: 1px;
  background: #D91200 !important;
  border: 1px solid #D91200;
  box-shadow: 0px 1px 2px 0px #1018280D;
  z-index: 1;
  height: 44px;
}

.btn-warning {
  border-radius: 15px;
  border-width: 1px;
  background: #FFD33C;
  border: 1px solid #FFD33C;
  box-shadow: 0px 1px 2px 0px #1018280D;
  color: #344054 ! important;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  height: 44px;
}

.btn-outline-success {
  background: white;
  box-shadow: 0px 1px 2px 0px #1018280D;
  border: 1px solid #878787;
  color: #00A150;
  border-radius: 15px;
  border-width: 1px;
}

.btn-outline-danger {
  border-radius: 15px;
  border-width: 1px;
  border: 1px solid #D91200;
  box-shadow: 0px 1px 2px 0px #1018280D;
  color: #D91200;
}

.btn-outline-secondary {
  border-radius: 15px;
  border-width: 1px;
  border: 1px solid #878787;
  height: 44px;
  border-radius: 15px;
  padding-top: 10px;
  padding-right: 18px;
  padding-bottom: 10px;
  padding-left: 18px;
  border-width: 1px;

}

.btn-secondary {
  background: white;
  border-radius: 15px;
  border-width: 1px;
  border: 1px solid #878787;
  color: #00A150;
  box-shadow: 0px 1px 2px 0px #1018280D;
}

.btn-secondary:hover {
  background-color: #00A150;
  color: white;
  border-color: #00A150;
}

.socialbtn:hover {
  background-color: #f6faf8;
  color: white;
}

.btn-outline-success:hover {
  background-color: #00A150;
  color: white;
  border: 1px solid #00A150;
}

.device-box {
  width: 217px;
  height: 217px;
  border-radius: 15px;
}

.device-content {
  width: 370px;
  height: 217px;
  gap: 30px;
  opacity: 1;
}

.contact-support {
  width: 165;
  height: 44;
  gap: 8px;
  opacity: 1;
  border-radius: 15px;
  border-width: 1px;
  border: 1px solid #878787;
  color: #00A150;
}

.contact-support:hover {
  background-color: #00A150;
  color: white;
  border-color: #00A150;
}

.alert-danger {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #57171D;
  background: #F7D7DB;
  /* width: 370px; */
  min-height: 36px;
  border-radius: 5px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
}

.alert-warning {
  background: #FFF9E4;
  color: #806A1E;
}
.email-alert{
 background: #FFF9E4;
  color: #806A1E;
  border: 1px solid #FFD33C;
  height: 76px;
  border-radius: 8px;
  border-width: 1px;
  padding: 16px;
  /* font-weight: 600; */
  font-size: 14px;
  line-height: 20px;
  }

.alert-text {
  /* width: 370; */
  height: 60px;
  border-radius: 5px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

/*...........................progressbar css start here*/
#progressbar {
  overflow: hidden;
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  width: 33.33%;
  float: left;
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

#progressbar li:before {
  z-index: 1;
  position: relative;
  border: 6px solid #d9d9d9;
  border-radius: 50%;
  content: '';
  width: 24px;
  height: 24px;
  display: block;
  background: white;
  margin: 0 auto 5px auto;
  color: #344054;
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #D9D9D9;
  position: absolute;
  left: -50%;
  top: 11px;
  z-index: 0;
}

#progressbar li:first-child:after {
  content: none;
}

#progressbar li.active:before {
  border-color: #00A150;
  color: #00A150 !important;
}

#progressbar li.active:after {
  background: #00A150;
}

#progressbar li.done:before {
  content: '✓';
  background-color: #00A150;
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

#progressbar li.done:after {
  background: #00A150;
}

#msform {
  text-align: center;
  position: relative;
}

.step-box {
  width: 960px;
  height: 575px;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px 0px #A2A2A24D;
}

/* ............................. star rating css start here*/
.star-rating {
  display: flex;
  gap: 4px;
  font-size: 30px;
}

.star {
  color: transparent;
  -webkit-text-stroke: 1px #FFD33C;
  cursor: pointer;
}

.star.filled {
  color: #FFD33C;
  -webkit-text-stroke: 0;
}

/* ..............sidebar css start here */
.sidebar {
  background: #FFFFFF;
  height: 100vh;
  width: 350;
  padding: 40px 30px;
}

.sidebar li.activeItem {
  background-color: #E5F5ED;
  border-radius: 6px;
  padding: 0.5rem;
  color: #00a150;
  font-weight: 600;
}

.sidebar ul {
  padding-left: 0;
}

.sidebar li {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0.5rem;
  border-radius: 6px;
  transition: 'background 0.3s ease';
  font-weight: 500;
}

.sidebar li span {
  font-size: 16px;
}

.sidebar ul :hover {
  background-color: #E5F5ED;
  color: #00A150;
}

/* ......devicesteps css start here */

.edit {
  width: 34px;
  height: 34px;
  /* padding: 8px 8px; */
  border-radius: 30px;
  border-width: 1px;
  border: 1px solid #D0D5DD;
  background: #FFFFFF;
  color: #28593F;
}

.edit:hover {
  background: #00A150;
  color: #F6F6F6;
  border: none;
}

.circular-dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  border-radius: 15px;
  background: #00A150;
}

.devicetab {
  width: 116;
  height: 26;
  gap: 10px;
  opacity: 1;
  border-radius: 16px;
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 10px;
  background: #E5F5ED;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  color: #00A150;


}
.submit-review {
  width: 395px;
  height: 90px;
  gap: 10px;
  opacity: 1;
  border-radius: 10px;
  padding: 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
}

.emoti-review {
  width: 40px;
  height: 23px;
  margin: auto;
}

.cursor {
  cursor: pointer;
}

/* reset password css start here */
.p-eye{
  font-size: large;
}
.requirement {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  .requirement i {
    width: 30px;
    font-size: x-large;
    color: #D0D5DD;
  }

  #validationRules p{
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #475467;
  margin: 0;
  }




















@media (max-width: 576px) {
  img.img-fluid {
    max-height: 200px;
  }
}